/* Basic styling for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12   px;
    padding-left: 100px;
    margin: 50px;
    text-align: center;
    
}

table th, table td {
    padding: 12px 15px;
}

table th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    height: 100px;
}

table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #009879;
    
}

table tr:hover {
    background-color: #f1f1f1;
}

table a {
    color: #009879;
    text-decoration: none;
    
}

table a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
