.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2px; 
  align-items: flex-start;

}

.gallery img {
  margin: 5px; /* Adjust margin between images */
  max-height: 300px; /* Limit image height */
  transition: transform 0.3s ease; /* CSS transition for smoother effect */
}

.gallery img:hover {
  transform: scale(1.1); 
}